.span12
  :javascript
      $(function(){
          chart = new Highcharts.Chart({
            chart: {
              renderTo: 'hashchart'
            }, title: {
              text: ""
            }, xAxis: {
              type: "datetime",
              ordinal: true
            }, yAxis: {
              min: 0,
              title: {
                text: 'MHash/s'
              }
            }, legend: {
              enabled: false
            }, tooltip: {
              formatter: function() {
                var val = this.y;
                var pres = ['M', 'G', 'T', 'P'];
                var pre = 0;
                while(val > 1000) {
                  pre++;
                  val = val / 1000.0;
                }
                val = val.toFixed(2);
                return Highcharts.dateFormat("%B %e %Y %H:%M", this.x) + ', <b>' + val + pres[pre] + 'hash/s';
              }
            }, exporting: {
              enabled: true
            }, plotOptions: {
                   line: {
                       marker: {
                           enabled: false
                       }
                   }
               }
          });
          chart.showLoading();
      });
  .chart{id: 'hashchart'}