.row-fluid
  .span12.text-right
    =select('chart', 'chart', @charts.each_with_index.map{|d,i| [d[0], i]})
    .chart_area
    :javascript
      // Some stuff for the rest of our js
      charts = #{@charts.map{|d| {title: d[0], interval: d[1], start: d[2]}}.to_json};
      chart = $('#chart_chart');

.row-fluid
  / First off, a simple table showing runtime statistics
  .span12
    %h3 Statistics
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Version
          %th Cgminer Version
          %th Server uptime
          %th Cgminer uptime
          %th Best share
          %th Donated minutes
        %tr
          %td=app_version
          %td Todo
          %td Todo
          %td Todo
          %td Todo
          %td Todo

.row-fluid
  .span12
    %h3 Pool statistics
    / Pool stats
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th URL
          %th User
          %th Status
          %th Priority
          %th Getworks
          %th Accepted
          %th Rejected
          %th Discared
          %th Total
          %th Last share
          %th Diff1 Shares
          %th Diff Accept
          %th Diff Reject
          %th Last Share Difficulty
          %th Best Share

  / Device stats