.row-fluid
  .spawn12#alert_container
.row-fluid
  .span12.text-center
    / Chart selection
    -day = 60*60*24
    - time = {minutes: 60, hours: 60*60, days: day, weeks: day*7, months: day*28, years: day*365}
    .row-fluid
      .span3.offset6
        Range:
        =select('range_value', 'select', 1...30, {}, class: 'input-mini')
        =select('range_unit', 'select', time, {}, class: 'input-medium')
      .span3
        Interval:
        =select('interval_value', 'select', 1...30, {}, class: 'input-mini')
        =select('interval_unit', 'select', time, {}, class: 'input-medium')
    .chart_area
      = render partial: 'hashchart'
    :javascript
      // Some stuff for the rest of our js
      rangevalsel = $('#range_value_select')
      rangeunsel = $('#range_unit_select')
      intvalsel = $('#interval_value_select')
      intunsel = $('#interval_unit_select')
.row-fluid
  .span12#device_container
    =render partial: 'devices'
.row-fluid
  .span12#pool_container
    =render partial: 'pools'