!!!
%html
  %head
    %title=app_name
    =stylesheet_link_tag 'application', media: :all
    =javascript_include_tag 'application', params[:controller]
    =csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .row-fluid
            .span12
              %a.brand=app_name
              %ul.nav
                %li.active
                  %a{href: '#'} Home
              .navbar-text.text-right#overview
    .container
      .row-fluid
        .span12
          =yield

    %footer
      .container
        .row-fluid
          .span12.text-center
            =app_name
            is free software created by James Lawrence for the community in his free time.  If you like it,
            = link_to('donate to 17UQa8vbadrw6NzqZfbgi2WdQDHqjWma7N', 'bitcoin:17UQa8vbadrw6NzqZfbgi2WdQDHqjWma7N')
        .row-fluid
          .span12.text-center
            =link_to('Message Me', '#email')
            |
            =link_to('Hire Me', '#linkedin')
            |
            =link_to('Peruse Me', '#sqrt4')
            |
            = link_to('Fork Me', '#github')
        .row-fluid
          .span12.text-center
            %small
              Page rendered in
              =elapsed_time
              seconds. |

              Powered by
              =request.headers['SERVER_SOFTWARE']
        - if false # Set to false to remove env and header dump
          .row-fluid
            .span-12
              %table
                %thead
                  %tr
                    %th Key
                    %th Value
                %tbody
                  -[['Environment', ENV], ['Headers', request.headers]].each do |name,hash|
                    %tr
                      %th=name
                    -hash.each do |k,v|
                      %tr
                        %td=k
                        %td=v