!!!
%html{lang: :en}
  %head
    %title=app_name
    =stylesheet_link_tag 'application', media: :all
    =javascript_include_tag 'application', params[:controller]
    =csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .container
        %a.navbar-brand=app_name
        %button.navbar-toggle{'data-toggle' => :collapse, 'data-target' => '.navbar-responsive-collapse'}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .nav-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{href: '#'}=t('menu.home')
        .navbar-text.pull-right#overview
          =t('message.connecting')
    .container
      .modal.fade#alert_modal
        .modal-dialog
          .modal-content.alert
            .modal-header
              %h4
                %i.icon-bell-alt
                %span#alert-title{'data-default' => t('title.alert')}=t('title.alert')
                %button.close{'data-dismiss' => 'modal', 'aria-hidden' => true} &times;
            .modal-body#alert_container
            .modal-footer
              / Todo: previous, next, dismiss
      =yield
    .modal.fade#message-modal
      .modal-dialog
        .modal-content
          .modal-header
            %h4
              %i#message-icon.icon-info-sign
              %span#message-title{'data-default' => t('title.message')}=t('title.message')
              %button.close{'data-dismiss' => 'modal', 'data-target' => '#message-modal', 'aria-hidden' => true} &times;
          .modal-body#message
          .modal-footer
            %button#message-ok.btn.btn-primary{'data-dismiss' => 'modal', 'aria-hidden' => true}=t('verb.ok').titleize
            %button#message-cancel.btn.btn-default{'data-dismiss' => 'modal', 'aria-hidden' => true}=t('verb.cancel').titleize

    .modal.fade#progress_modal
      .modal-dialog
        .modal-content
          .modal-header
            %h4
              %i.icon-cogs
              %span#wait-message{'data-default' => t('message.wait')}
                =t('message.wait')
          .modal-body
            .progress.progress-striped.active
              .progress-bar{style: 'width: 100%'}
                %span#wait-message{'data-default' => t('message.wait')}
                  =t('message.wait')

    .modal.fade#donate_modal
      .modal-dialog
        .modal-content
          .modal-header
            %h4
              %i.icon-btc
              =t('verb.donate').titleize
              %button.close{'data-dismiss' => 'modal', 'aria-hidden' => true} &times;
          .modal-body
            .text-info=t('donation_content')
            %br
            .input-group
              %span.input-group-addon{onclick: "$('#donate_address').select()", style: 'cursor: pointer'}
                %i.icon-btc
              %input.form-control#donate_address{type: :text, value: '17UQa8vbadrw6NzqZfbgi2WdQDHqjWma7N', onclick: "$('#donate_address').select()", readonly: :readonly, style: 'cursor:pointer'}
          .modal-footer
            %button.btn.btn-default{'data-dismiss' => 'modal'}=t('verb.close').titleize

    %footer
      .container
        .row.text-center
          =app_name
          =(t('footer.content') % link_to('James Lawrence', 'http://www.sqrt4.com', target: '_blank')).html_safe
          %a{'data-toggle' => 'modal', href: '#donate_modal'}
            %i.icon-btc
            =t('verb.donate')
        .row.text-center
          =link_to('#email' ,class: 'pad-horizontal') do
            %i.icon-envelope
            =t('footer.link.contact')
          |
          =link_to('#linkedin', class: 'pad-horizontal') do
            %i.icon-briefcase
            =t('footer.link.hire')
          |
          = link_to('#github', class: 'pad-horizontal') do
            %i.icon-github
            =t('footer.link.fork')
        .row.text-center
          %small
            =t('footer.stats') % [elapsed_time, request.headers['SERVER_SOFTWARE'] || 'Unknown']