!!!
%html{lang: :en}
  %head
    %title=app_name
    =stylesheet_link_tag 'application', media: :all
    =javascript_include_tag 'application', params[:controller]
    =csrf_meta_tags
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .container
        %a.navbar-brand=app_name
        %button.navbar-toggle{'data-toggle' => :collapse, 'data-target' => '.navbar-responsive-collapse'}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .nav-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{href: '#'}=t('menu.home')
        .navbar-text.pull-right#overview
          #overview_inner
            =t('message.connecting')
    .container
      =yield

    =render partial: '/modals'

    .modal.fade#donate_modal
      .modal-dialog
        .modal-content
          .modal-header
            %h4
              %i.icon-btc
              =t('verb.donate').titleize
              %button.close{'data-dismiss' => 'modal', 'aria-hidden' => true} &times;
          .modal-body
            .text-info=t('donation_content')
            %br
            .input-group
              %span.input-group-addon{onclick: "$('#donate_address').select()", style: 'cursor: pointer'}
                %i.icon-btc
              %input.form-control#donate_address{type: :text, value: '17UQa8vbadrw6NzqZfbgi2WdQDHqjWma7N', onclick: "$('#donate_address').select()", readonly: :readonly, style: 'cursor:pointer'}
          .modal-footer
            %button.btn.btn-default{'data-dismiss' => 'modal'}=t('verb.close').titleize

    %footer
      .container
        .row.text-center
          =app_name
          =(t('footer.content') % link_to('James Lawrence', 'http://www.sqrt4.com', target: '_blank')).html_safe
          %a{'data-toggle' => 'modal', href: '#donate_modal'}
            %i.icon-btc
            =t('verb.donate')
        .row.text-center
          =link_to('#email' ,class: 'pad-horizontal') do
            %i.icon-envelope
            =t('footer.link.contact')
          |
          =link_to('#linkedin', class: 'pad-horizontal') do
            %i.icon-briefcase
            =t('footer.link.hire')
          |
          = link_to('#github', class: 'pad-horizontal') do
            %i.icon-github
            =t('footer.link.fork')
        .row.text-center
          %small
            =t('footer.stats') % [elapsed_time, request.headers['SERVER_SOFTWARE'] || 'Unknown']